body {}

header {
    height: 600px;
    text-align: center;
    background: rgba(0, 0, 0, 0.6) url("../styles/image/Banner\ Image.png");
    background-repeat: no-repeat;
    border: 16px;
    border-radius: 16px;
    background-blend-mode: darken;
    align-items: center;
    background-position: center;
    background-size: cover;
}

.happy-new-year {
    padding: 177px 530px 0px 530px;
    color: #FFF;
    font-size: 32px;
    font-weight: 400;
    font-family: Merriweather;
    margin-top: 170px;
    margin-bottom: 0px;

}

.new-year-party-celebration {
    color: #FFF;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    padding: 0px 344px;
    margin-top: 16px;

}



/*discount section*/
.discount {
    margin-top: 90px;
    text-align: center;
    font-family: sans-serif;
}

.discount-title {
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 0px;

}

.discount-details {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    margin-top: 40px;
    margin-bottom: 0px;
}

.discount-category {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    margin-top: 16px;
    margin-bottom: 0px;
}

/*happy new year picture*/
.new-year-photo {
    text-align: center;
    margin-top: 48px;
    margin-bottom: 0px;
}

/*poster-related style*/
.party-poster {
    justify-content: space-between;
    align-items: center;
    text-align: center;
    display: flex;
    margin-top: 120px;
    background: rgba(0, 0, 0, 0.6) url("../styles/image/Vectorrr.png");
    height: 600px;
    background-blend-mode: darken;
    background-size: cover;
}

.party-details {
    text-align: left;
    padding: 126px 500px 140px 126px;
    gap: 50px;
}

.party-poster-title {
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
}

.party-description {
    color: rgba(255, 255, 255, 0.80);
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}